html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font: 16px / 1 sans-serif;
  background-color: #C8161D;
}

.head-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 4em;
  color: #FEC940;
  width: 50%;
  text-align: center;
}

img {
  transition: opacity .5s;
}

img:hover {
  opacity: 0.6;
}

p {
  font-size: 2em;
  color: #FEC940;
}

a {
  color: #29798F;
  transition: color .5s;
}

a:hover {
  text-decoration: none;
  color: #FFE08E;
}
